---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">

<head>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>

<body>
	<Header />
	<main>
		<div class="list-group">
			{
				posts.map((post) => (
					<a href={`/blog/${post.slug}/`} class="list-group-item list-group-item-action" aria-current="true">
						<div class="d-flex w-100 justify-content-between">
						  <h5 class="mb-1">{post.data.title}</h5>
						  <small><FormattedDate date={post.data.pubDate} /></small>
						</div>
					</a>
					
				))
			}
		</div>
	</main>
	<Footer />
</body>

</html>