---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import DefaultLayout from '../../layouts/DefaultLayout.astro';

const posts: any = await getCollection('blog')
let tagGroup = {}
for(var i in posts) {
	let tag = posts[i].data.tag || '未分类';
	if(tagGroup[tag] == undefined) {
		tagGroup[tag] = []
	}
	tagGroup[tag].push(posts[i])
}
const tags = Object.keys(tagGroup)
let tagGroupList: any = []
tags.forEach(t => {
	tagGroupList.push({
		tag : t,
		list : tagGroup[t],
	})
})
---


<DefaultLayout>
	<ul class="nav nav-tabs flex-column flex-sm-row" id="myTab" role="tablist">
		{
			tags.map((item) => {
				return <li class="nav-item" role="presentation" id={'tab' + item}>
					<button class="nav-link"  data-bs-toggle="tab" data-bs-target={'#' + item} type="button"
						role="tab" aria-controls={item} aria-selected="true">{item}</button>
				</li>
			})
		}
    </ul>
	<div class="tab-content" id="myTabContent">
		{
			tagGroupList.map((item, index) => {
				return <div class="tab-pane fade show" id={item.tag} role="tabpanel" aria-labelledby="home-tab" tabindex={index}>
					<div class="list-group">
						{
							item.list.map((post) => (
								<a href={`/blog/${post.slug}/`} class="list-group-item list-group-item-action" aria-current="true">
									<div class="d-flex w-100 justify-content-between">
									<h5 class="mb-1">{post.data.title}</h5>
									<small><FormattedDate date={post.data.pubDate} /></small>
									</div>
								</a>
								
							))
						}
					</div>
				</div>
			})
		}
	</div>
	<script src="/js/util.js" is:inline></script>

	<script is:inline>
		 document.addEventListener('DOMContentLoaded', (event) => {
			setTimeout(() => {
				let tag = getQuery('tag', '未分类')
			alert(tag)
			}
			
		 })
		
	</script>
</DefaultLayout>
